:host {
  display: block;
  position: relative;
}

table {
  width: 100%;
}

.spinner-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.15);
  top: 0;
  bottom: 56px;
  left: 0;
  right: 0;
}

header.mdc-toolbar {
  background-color: white;
  color: black;
  box-shadow: none;
  img {
    position: absolute;
    top: 0;
    max-height: 100%;
  }
}
