<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <a mat-icon-button
               routerLink="/">
                <mat-icon>home</mat-icon>
            </a>
            <span class="flex-auto"></span>
            <button mat-button
                    *ngIf="principalService.getPrincipal()"
                    [matMenuTriggerFor]="menu">
                <img class="circle mr1"
                     src="{{principalService.getPrincipal().picture_small}}">
                {{principalService.getPrincipal().name}}</button>
            <mat-menu #menu="matMenu">
                <button (click)="changeUser()"
                        mat-menu-item>Logout</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
<main class="my2 mx-auto">
    <router-outlet></router-outlet>
</main>